Repository minecraft-dev/MinecraftDev, pull requests merged in 2020-06, with the labels that each got.

#702 Accessor generators
  src/main/kotlin/com/demonwav/mcdev/platform/mixin/action/GenerateAccessorAction.kt
  src/main/kotlin/com/demonwav/mcdev/platform/mixin/action/GenerateAccessorHandler.kt
  src/main/resources/META-INF/plugin.xml
Labels: platform: mixins, type: enhancement

#708 Disable EntityConstructorInspection for MC 1.13 onwards
  src/main/kotlin/com/demonwav/mcdev/platform/mcp/McpModuleType.kt
  src/main/kotlin/com/demonwav/mcdev/platform/mcp/inspections/EntityConstructorInspection.kt
Labels: platform: mcp

#718 Use Gradle 4.10.3 for FG3 projects
  src/main/kotlin/com/demonwav/mcdev/platform/forge/creator/ForgeProjectConfig.kt
  src/main/kotlin/com/demonwav/mcdev/platform/forge/creator/ForgeProjectCreator.kt
  src/main/kotlin/com/demonwav/mcdev/platform/liteloader/creator/LiteLoaderProjectConfig.kt
Labels: build: gradle, platform: forge

#720 Initial work for Velocity support
  src/main/kotlin/com/demonwav/mcdev/asset/PlatformAssets.kt
  src/main/kotlin/com/demonwav/mcdev/creator/MinecraftModuleBuilder.kt
  src/main/kotlin/com/demonwav/mcdev/creator/PlatformChooserWizardStep.kt
  src/main/kotlin/com/demonwav/mcdev/creator/ProjectChooserWizardStep.form
  src/main/kotlin/com/demonwav/mcdev/facet/MinecraftFacetEditorTab.form
  src/main/kotlin/com/demonwav/mcdev/facet/MinecraftFacetEditorTab.kt
  src/main/kotlin/com/demonwav/mcdev/facet/MinecraftLibraryKinds.kt
  src/main/kotlin/com/demonwav/mcdev/platform/PlatformType.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/VelocityModule.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/VelocityModuleType.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/creator/VelocityProjectConfig.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/creator/VelocityProjectCreator.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/creator/VelocityProjectSettingsWizard.form
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/creator/VelocityProjectSettingsWizard.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/creator/VelocityTemplate.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/framework/VelocityLibraryKind.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/framework/VelocityPresentationProvider.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/generation/VelocityEventGenerationPanel.form
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/generation/VelocityEventGenerationPanel.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/generation/VelocityGenerationData.kt
  src/main/kotlin/com/demonwav/mcdev/platform/velocity/util/VelocityConstants.kt
  src/main/kotlin/com/demonwav/mcdev/util/MinecraftTemplates.kt
  src/main/resources/META-INF/plugin.xml
  src/main/resources/assets/icons/platform/Velocity.png
  src/main/resources/assets/icons/platform/Velocity@2x.png
  src/main/resources/fileTemplates/j2ee/velocity/Velocity Main Class.java.ft
  src/main/resources/fileTemplates/j2ee/velocity/Velocity Main Class.java.html
  src/main/resources/fileTemplates/j2ee/velocity/Velocity Submodule build.gradle.ft
  src/main/resources/fileTemplates/j2ee/velocity/Velocity Submodule build.gradle.html
  src/main/resources/fileTemplates/j2ee/velocity/Velocity Submodule pom.xml.ft
  src/main/resources/fileTemplates/j2ee/velocity/Velocity Submodule pom.xml.html
  src/main/resources/fileTemplates/j2ee/velocity/Velocity build.gradle.ft
  src/main/resources/fileTemplates/j2ee/velocity/Velocity build.gradle.html
  src/main/resources/fileTemplates/j2ee/velocity/Velocity gradle.properties.ft
  src/main/resources/fileTemplates/j2ee/velocity/Velocity gradle.properties.html
  src/main/resources/fileTemplates/j2ee/velocity/Velocity pom.xml.ft
  src/main/resources/fileTemplates/j2ee/velocity/Velocity pom.xml.html
  src/main/resources/fileTemplates/j2ee/velocity/Velocity settings.gradle.ft
  src/main/resources/fileTemplates/j2ee/velocity/Velocity settings.gradle.html
Labels: type: enhancement
