Repository minecraft-dev/MinecraftDev, pull requests merged in 2021-05, with the labels that each got.

#856 Added mixin support for forge (#155)
  src/main/kotlin/platform/forge/creator/Fg3Template.kt
  src/main/kotlin/platform/forge/creator/ForgeProjectConfig.kt
  src/main/kotlin/platform/forge/creator/ForgeProjectCreator.kt
  src/main/kotlin/platform/forge/creator/ForgeProjectSettingsWizard.form
  src/main/kotlin/platform/forge/creator/ForgeProjectSettingsWizard.kt
  src/main/kotlin/util/MinecraftTemplates.kt
  src/main/resources/fileTemplates/j2ee/forge/Forge (1.13+) Submodule build.gradle.ft
  src/main/resources/fileTemplates/j2ee/forge/Forge (1.13+) build.gradle.ft
  src/main/resources/fileTemplates/j2ee/forge/Forge Mixins Config.json.ft
  src/main/resources/fileTemplates/j2ee/forge/Forge Mixins Config.json.html
Labels: build: gradle, platform: forge, type: enhancement

#795 Convert Sponge Getter support to UAST
  src/main/kotlin/insight/InsightUtil.kt
  src/main/kotlin/insight/ListenerLineMarkerProvider.kt
  src/main/kotlin/platform/sponge/completion/SpongeCompletionConfidence.kt
  src/main/kotlin/platform/sponge/completion/SpongeGetterFilterCompletionContributor.kt
  src/main/kotlin/platform/sponge/inspection/SpongeInvalidGetterTargetInspection.kt
  src/main/kotlin/platform/sponge/inspection/SpongeWrongGetterTypeInspection.kt
  src/main/kotlin/platform/sponge/inspection/UseGetterReturnTypeInspectionGadgetsFix.kt
  src/main/kotlin/platform/sponge/reference/GetterEventListenerReferenceResolver.kt
  src/main/kotlin/platform/sponge/reference/SpongeReferenceContributor.kt
  src/main/kotlin/platform/sponge/util/Events.kt
  src/main/kotlin/util/uast-utils.kt
  src/main/resources/META-INF/plugin.xml
Labels: platform: sponge, type: enhancement

#865 Add Forge Enchantment class template
  src/main/kotlin/insight/generation/MinecraftClassCreateAction.kt
  src/main/kotlin/util/MinecraftTemplates.kt
  src/main/resources/fileTemplates/j2ee/skeleton/forge/ForgeEnchantment.java.ft
  src/main/resources/fileTemplates/j2ee/skeleton/forge/ForgeEnchantment.java.html
Labels: platform: forge, type: enhancement
